process.afterScript = {
    logMainDir = params.out_dir + "/log"

    // Check whether log dir is located in S3 if using awsbatch and is a local directory otherwise
    logMainDir = workflow.launchDir.resolve(logMainDir).toString()
    if (!logMainDir.matches("^/.*")) logMainDir = workflow.launchDir.toString() + "/log"

    // Build log directory path based on task name
    task_prefix = (task.tag == null || task.tag.allWhitespace) ? task.name : task.tag
    task_prefix = task_prefix.replace(" (null)", "").replace(" ", "/").replaceAll(" ", "_").replaceAll("[()]", "").replaceAll(":","_").replaceAll("/","_")

    logDir = logMainDir
    logSubDir = logMainDir + "/" + task_prefix

    // Define command to copy log files
    cpLogCmd = "mkdir -p ${logMainDir}; cp -a *.txt ${logDir};"
    symlinkLogCmd = 'ln -s "$(pwd)../" ' + logSubDir + ";"

    // Assemble final command
    cmd = "mkdir nxf_log; "
    cmd += "for file in .command.*; do cp -a \${file} nxf_log/" + task_prefix + ".\${file#.}.txt; done; "
    //cmd += symLinkLogCmd
    cmd += "cd nxf_log; "
    cmd += cpLogCmd
    cmd += "cd ../;"
    cmd += 'ln -s "$(pwd)" ' + logSubDir + ";"
    cmd
}


